

$action-color:#ff5200;
$blue:#a0daf1;
$dark-blue:#236d93;
$dark-blur-panel:#236d93;
$dark-blue-table:#143b4f;

$main-background:#fff;
$gradint-start-color:#a0daf1;
$gradint-end-color:#fff;

$button-min-width:210px;

$button-color:#2b74a6;
$button-text-color:#fff;
$button-border-1:#3fb8f5;
$button-border-2:#000;
$button-border-3:#184d69;
$button-gradint_from:#31a3dd;
$button-gradint_to:#254974;
$button-gradint_color:$button-color;
$hover-blue: lighten($button-color,40%);

$button-yellow-color:#E38916;
$button-yellow-text-color:#fff;
$button-yellow-color:#E38916;
$button-yellow-border-1:#FDBE33;
$button-yellow-border-2:#000;
$button-yellow-border-3:#D77206;
$button-yellow-gradint_from:#F3AE0F;
$button-yellow-gradint_to:$button-yellow-color;
$button-yellow-gradint_color:$button-yellow-color;
$hover-yellow: darken($button-yellow-color,20%);


$dark-border-gray: #ececec;
$dark-gray: #444444;
$light-gray: #f1f1f1;
$icon-gray: #d3d2d2;
$cyan: #63d1bb;
$light-cyan: #d0f1ea;


$active-black: #b2b2b2;
$hover-gray: #c7c7c7;
