.image-bg-fluid-height,
.image-bg-fixed-height {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.image-bg-fluid-height {
  background: url('../images/big_fone.png') no-repeat center center scroll;
  background-size:cover;
  padding:40px 0;
}
.propouse{
  padding-top: 5px;
  padding-bottom: 10px;
}
.propouse .global-wrapper{
  position: relative;
}

.promo_text{
  position: absolute;
  top:30px;
  left:0px;
  font-size: 25px;
  color: white;
  width:100%;
  text-align: center;
  text-shadow: 3px 3px #05131b;
  background: rgba(35, 109, 147, 0.6);
  z-index: 2;
}

.propouse .global-wrapper{
  padding:0px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
}

.propouse .picture_block{
  position:relative;
  max-height:280px;
  max-width:685px;
  flex:0 1 300px;
}
.propouse .picture_block .picture{
  max-height:200px;
  max-width:685px;
}

.propouse .picture_block .flag{
  position:absolute;
  bottom:5px;
  left:5px;
  max-width:70px;
  border-radius:50%;
  border-width:0px;
  box-shadow: 0 0 8px rgba(0,0,0,.9);
  z-index: 5;
}
@media #{$tablet-width} {
  .promo_text {
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 35px;
    width:50%;
  }
  .propouse .picture_block .flag{
    bottom:2px;
    left:-30px;
    max-width:130px;
  }
  .propouse .picture_block .picture{
    max-height:280px;
    max-width:685px;
  }
}
@media #{$desktop-width} {
  .promo_text {
    position: absolute;
    top: 50px;
    left: 0px;
    font-size: 50px;
    width:70%;
  }
  .propouse .picture_block .flag{
    bottom:2px;
    left:-30px;
    max-width:130px;
  }
  .propouse .picture_block .picture{
    max-height:280px;
    max-width:685px;
  }
}

